/*ОПРЕДЕЛЯЕМ КАСТОМНЫЕ СВОЙСТВА*/

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;
  --special-yellow-dark: #f0c52e;
  --special-yellow-light: #f7e296;
  --special-green: #91c92f;
  --special-pink: #f6dada;
}

/*ПОДКЛЮЧАЕМ ШРИФТЫ*/

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  src: url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  src: url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  src: url("../fonts/opensans.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  src: url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  src: url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/*ОТМЕНЯЕМ ИСХОДНОЕ ОФОРМЛЕНИЕ ССЫЛОК И СПИСКОВ*/

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*СКРЫВАЕМ НЕВИДИМЫЕ ЗАГОЛОВКИ*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.customer-panel__item, 
.customer-panel__item-logged,
.site-navigation, 
.catalog-list__item, 
.top-goods__cards, 
.slider-control, 
.popular-item, 
.feature-card, 
.features-buttons__button, 
.partners__list-item, 
.social-button,
.breadcrumbs,
.sort-type,
.order-type,
.item-cards,
.pages {
  list-style: none;
}

/*_________________GRID_____________________*/

.page {
  height: 100%;
}

.page-body{
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*--------------MAIN-PAGE____GRID-GENERAL--------------*/
.main-page.container {
  display: grid;
  grid-template-rows: repeat(5,min-content);
}

.main-page .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr ;
}

.features{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/*---------------CATALOG____GRID-GENERAL----------------*/

.catalog-page.container {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
  "title title"
  "crumbs crumbs"
  "filter filter-result";
}

.main-title{
  grid-area: title;
}

.breadcrumbs {
  grid-area: crumbs;
}

.filter {
  grid-area: filter;
}

.filter-result {
  grid-area: filter-result;
}

/*---------------GRID___CATALOG___FILTER-RESULT-------------*/

.filter-result{
  display:grid;
  grid-template-rows: min-content 1fr min-content;
}

.item-cards {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 48px 40px;
}

/*---------------GRID___CATALOG___ITEM-CARD-------------*/



.item-card {
  display:grid;
  grid-template-rows: min-content min-content min-content min-content min-content;
}

.item-description{
  grid-row:5/6;
}

.item-card__image{
  grid-row: 1/5;
  grid-column: 1/2;
  z-index: 1;
}

.item-card__cart-button{
  grid-row: 2/3;
  grid-column: 1/2;
  z-index: 2;
}

.item-card__compare-button{
  grid-row:3/4;
  grid-column: 1/2;
  z-index: 3;
}


/*---------------GRID-CUSTOMER-PANEL-------------*/
.customer-panel {
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  padding: 0px ;
  gap:60px;
}

.customer-panel__item{
  justify-self: end;
}

.customer-panel__item:first-of-type{
  justify-self: start;
}


/*-----------------GRID-HEADER-------------------*/
.main-header {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
}


.main-header__container:first-of-type{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.site-navigation {
  display: grid;
  grid-template-columns: 50% 1fr 1fr 2fr;
  margin: 0px;
  padding:0px;
}

.site-navigation__item:last-of-type{
  justify-self: end;
}

/*--------------GRID-SLIDER-CARD---------------*/

.top-goods-card{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  grid-template-areas: 
  "img slogan slogan"
  "img slogan slogan"
  "img description description"
  "img more ."
  "img details details";
}

.top-goods-card__description{
  grid-area: description;
}

.top-goods-card .button{
  grid-area: more;
}

.top-goods-card__image{
  grid-area: img;
  min-height: 100%;
  min-width: 100%;
}

.top-goods-card__slogan{
  grid-area:slogan;
  z-index: 2;
}

.top-goods-card__details{
  grid-area:details;
}

.top-goods-card__number{
  grid-row:1/2;
  grid-column: -2/-1;
  z-index: 1;
  margin:0px;
  align-content: start;
}



/*--------------------GRID-FOOTER---------------*/
.main-footer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  
  grid-template-areas: 
  "logo panel panel"
  "nav nav nav"
  ". social copyright";
}

.main-footer__logo{
  grid-area: logo;
}
.main-footer__container:nth-of-type(1) {
grid-area: panel;
justify-self: end;
}

.main-footer__container:nth-of-type(2) {
  grid-area: nav;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  }

.main-footer__container:nth-of-type(3) {
  grid-area: social;
}

.copyright{
  grid-area:copyright
}

.main-footer__container .site-navigation{
  grid-template-columns: min-content min-content min-content;
  gap: 36px;
  justify-self: center;
}
  

/*--------------GRID-MODAL---------------*/

.contact-us__form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas: 
  "name mail"
  "message message"
  "submit .";
  gap:32px 40px;
}


.contact-form__field:nth-of-type(1){
 grid-area: name;
}

.contact-form__field:nth-of-type(2){
  grid-area: mail;
 }

.contact-form__field:nth-of-type(3){
  grid-area: message;
}

.contact-form__button{
grid-area: submit;
}

/*ОСНОВНАЯ СТИЛИЗАЦИЯ*/

body {
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
}

.main-header {
  background-color: var(--special-yellow-light);
}

.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white)
}

.site-navigation__item, 
.catalog-panel__button, .button, 
.popular-item, 
.contact-form {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.2em;
  font-size: 18px;
  line-height: 22px;
  outline: none;
}

.catalog-list__item, 
.customer-panel, 
.search-form__input, 
.main-footer__address, 
.main-footer__tel {
  text-transform: initial;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: initial;
  font-style: normal;
}

.top-goods-card__slogan, 
.feature-card__header, 
.about-us__section-title, 
.contacts__section-title {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.feature-card__header {
  letter-spacing: 0.2em;
}

.features {
  background-image: linear-gradient(transparent 115px, var(--basic-grey-light) 115px);
}

.top-goods-card__description, 
.feature-card__description, 
.about-us__description, 
.contacts__description {
  font-style: normal;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.item-details__head, 

.feature-card__description {
  line-height: 30px;
  letter-spacing: 0.1em;
}

.transport-companies {
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.partners__list-item:not(:hover) {
  filter: grayscale(20);
  opacity: 0.3;
}



/*СТИЛИЗУЕМ ПАНЕЛЬ ПОЛЬЗОВАТЕЛЯ, ПОИСК И НАВИГАЦИЮ*/

.search-form__input, 
.catalog-panel__button {
  border: none;
  background: transparent;
  outline: none;
}

.copyright:hover,
.main-header a:hover, 
.search-form__input:hover,
.main-footer__logo:hover,
.site-navigation a:hover,
.breadcrumbs__item:not(:last-child):hover {
  opacity: 0.6;
}

.main-footer a:focus, 
.main-header a:focus, 
.site-navigation a:focus,
.search-form__input,
.breadcrumbs__item {
  opacity: 0.3;
  outline: none;
}

.search-form:focus-within .search-form__input,
.search-form__input:focus +.search-form__button{
  opacity: 1;
}

.search-form__input +.search-form__button{
  font-family: "Open Sans", "Arial", sans-serif;
  font-size:15px;
  line-height: 20px;
  text-transform: uppercase;
  background-color:transparent;
  border: 2px solid var(--basic-black);
  opacity: 0;
}


.search-form__input:focus +.search-form__button:hover {
  background-color:var(--basic-black);
  color:var(--basic-white);
  opacity: unset;
}

.search-form__input +.search-form__button:focus:focus {
  background-color:var(--basic-black);
  color:rgba(255, 255, 255, 0.3);
  opacity: unset;
}

.customer-panel__item-logged::before {
  content:"Валентин Петухов";
  padding-right: 5px;
}

.main-header .customer-panel__item-logged {
  color:rgba(0,0,0, 0.5);
}

.main-header .customer-panel__item-logged::before {
  color:rgba(0,0,0, 1);
}


.main-footer .customer-panel__item a,
.main-footer .customer-panel__item-logged a,
.main-footer .customer-panel__item-logged:before {
  color:var(--basic-white);
  opacity: 0.7;
}

.main-footer .customer-panel__item a:hover,
.main-footer .customer-panel__item-logged a:hover{
  color:var(--basic-white);
  opacity:1;
}

.main-footer .customer-panel__item a:focus,
.main-footer .customer-panel__item-logged a:focus{
  color:var(--basic-white);
  opacity: 0.3;
}




/*СТИЛИЗУЕМ ХАРАКТЕРИСТИКИ ТОП-ТОВАРОВ В СЛАЙДЕРЕ*/

.top-goods-card__details {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-style: normal;
}

.top-goods-card__number{
  font-weight: 800;
  font-size: 179px;
  text-transform: uppercase;
  color:var(--basic-white);
}

.item-details__values {
  font-size: 36px;
  line-height: 42px;
}

.item-details__head th {
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
}


/*СТИЛИЗУЕМ БЛОК ПОПУЛЯРНЫХ ТОВАРОВ*/

.popular-item {
  letter-spacing: 0.05em;
  text-transform: none;
}

.popular-item__image {
  background-color: var(--special-yellow-light);
  display: inline-block
}

.popular-item a:focus 
.popular-item__image, 
.popular-item a:hover .popular-item__image {
  background-color: var(--special-yellow-dark);
}

.popular-item a:focus img, 
.popular-item a:focus p {
  opacity: 0.3;
}


/*СТИЛИЗУЕМ КНОПКИ*/

.button {
  background-color: transparent;
  background-image: linear-gradient( 
    transparent 33%, 
    var(--special-yellow-dark) 33%, 
    var(--special-yellow-dark) 66%, 
    transparent 33%
    );
  padding: 0px 43px;
  outline: none;
  border: none;
}

.button:hover, 
.button:focus {
  background-image: none;
  background-color: var(--special-yellow-dark);
  padding: 9px 43px;
}

.button:focus {
  color: rgba(0, 0, 0, 0.3);
}

.features-buttons__button .button:focus {
  background-color: var(--basic-black);
  color: var(--special-yellow-light);
}


/* СТИЛИЗУЕМ МОДАЛЬНОЕ ОКНО "НАПИШИТЕ НАМ" */

.contact-form {
  text-transform: none;
  letter-spacing: initial;
}

.contact-form__name, 
.contact-form__email, 
.contact-form__message {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  background-color: #EAEAEA;
  outline: none;
  border: none;
}

.contact-form__name::placeholder, 
.contact-form__email::placeholder, 
.contact-form__message::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.contact-form__name:hover, 
.contact-form__email:hover, 
.contact-form__message:hover {
  background-color: var(--basic-grey-light);
}

.contact-form__name:focus, 
.contact-form__email:focus, 
.contact-form__message:focus {
  background-color: transparent;
  border: solid 2px var(--special-yellow-light);
  color: var(--basic-black);
}

.contact-form__name:invalid, 
.contact-form__email:invalid, 
.contact-form__message:invalid {
  background-color: var(--special-pink);
}


/*СТИЛИЗУЕМ КАТАЛОГ*/

.breadcrumbs{
  color:var(--basic-black) !important;
  opacity: 1 !important;
}

.breadcrumbs__item:not(:last-child) a:focus{
  opacity: 0.1;
}


.filter__title {
  background-color: #DCDCDC;
}

.filter__panel, .sort-panel {
  background-color:var(--basic-grey-light)
}

.sort-panel__title, .filter__title {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.1em;
  font-size: 16px;
  line-height: 20px;
  outline: none;
}


.sort-type__item,
.sort-type__item-active {
  background-color:transparent;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  border: none;
  outline: none;
}

.sort-type__item,
.pages__page {
  opacity: 0.3;
}

.sort-type__item:hover,
.pages__page:hover {
  opacity: 0.6;
}

.sort-type__item:focus,
.pages__page:focus {
  opacity: 1;
}

/*КАТАЛОГ. Панель пагинации*/

.pagination__back, .pagination__forward{
  text-transform: uppercase;
  background-color:transparent;
  outline: none;
  font-weight: 800;
  border: none;
  line-height: 20px;
  letter-spacing: 0.1em;
}

.pagination{
  background-color: #EBEBEB;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.1em;
}

.pagination__back:hover,.pagination__forward:hover{
  background-color: #d9d9d9;
}

.pagination__back:focus,.pagination__forward:focus{
  color: rgba(0, 0, 0, 0.3);
}



/*КАТАЛОГ. Карточка товара*/

.item-description__name{
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.item-description__price {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;  
}

.item-card:hover img,
.item-card:focus img{
  opacity: 0.7;
}

.item-card__compare-button{
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  outline: none;
  border: none;
  background:none;
  opacity: 0.5;
}

.item-card__compare-button:hover {
  opacity:1;
}

.item-card__compare-button:focus {
  opacity:0.2;
}

.item-card__cart-button,
.item-card__compare-button {
  visibility: hidden;
}
.item-card:hover >.item-card__cart-button,
.item-card:focus >.item-card__cart-button,
.item-card:hover > .item-card__compare-button,
.item-card:focus > .item-card__compare-button {
  visibility: visible;
}

